html, body {
  display: block;
  position: relative;
  font-family: Arial, sans-serif;
}

body > #app-shell {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
  body > #app-shell > #app-background,
  body > #app-shell > #app-screens,
  body > #app-shell > #app-overlay {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  body > #app-shell > #app-background {
    position: fixed;
    z-index: 0;
    background-color: aquamarine;
  }

  body > #app-shell > #app-overlay {
    visibility: hidden;
  }

  body > #app-shell > #app-screens {
    overflow-y: auto;
    box-sizing: border-box;
  }

    body > #app-shell > #app-screens > .screen {
      display: block;
      position: relative;
      box-sizing: border-box;
      width: inherit;
      height: inherit;
      padding: 7.5vw 7.5vh;
    }

      body > #app-shell > #app-screens > .screen > .screen-title {
        text-transform: lowercase;
        letter-spacing: -4px;
        font-weight: 900;
        font-size: 2.4em;
      }

      body > #app-shell > #app-screens > .screen > .screen-subtitle {
        text-transform: lowercase;
        font-weight: 900;
        letter-spacing: -1px;
      }

      body > #app-shell > #app-screens > .screen > .screen-actions {
        border: 8px solid #c8c;
        border-radius: 1em;
        max-width: 73vw;
        margin: 0 auto;
      }

        body > #app-shell > #app-screens > .screen > .screen-actions > .screen-action {
          text-align: center;
          font-weight: 900;
          text-transform: uppercase;
          font-size: 1.25em;
          letter-spacing: -2px;
          padding: 3.5vh 2vw;
          border-bottom: 4px solid #c8c;
          color: #d9d;
          transition: color .15s ease-in, background-color .15s ease-in;
        }

        body > #app-shell > #app-screens > .screen > .screen-actions > .screen-action:hover{
          background-color: #636;
          color: #fff;
          cursor: pointer;
        }

        body > #app-shell > #app-screens > .screen > .screen-actions > .screen-action:active{
          background-color: #404;
        }

        body > #app-shell > #app-screens > .screen > .screen-actions > .screen-action:last-of-type{
          border-bottom: 0;
        }

    body > #app-shell > #app-screens > #landing.screen {
      background-color: purple;
    }

      body > #app-shell > #app-screens > #landing.screen > .screen-title {
        color: #fff;
      }

      body > #app-shell > #app-screens > #landing.screen > .screen-subtitle {
        color: #eae;
        margin-bottom: 15vh;
      }