html, body {
  display: block;
  position: relative;
  font-family: Arial, sans-serif;
}

body > #app-shell {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
  body > #app-shell > #app-background,
  body > #app-shell > #app-screens,
  body > #app-shell > #app-overlay {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  body > #app-shell > #app-background {
    position: fixed;
    z-index: 0;
    background-color: aquamarine;
  }

  body > #app-shell > #app-overlay {
    visibility: hidden;
  }

  body > #app-shell > #app-screens {
    overflow: none;
    box-sizing: border-box;
  }

    body > #app-shell > #app-screens > .screen {
      display: block;
      position: relative;
      box-sizing: border-box;
      width: inherit;
      height: inherit;
    }

    body > #app-shell > #app-screens > #landing.screen {
      background-color: black;
    }

      body > #app-shell > #app-screens > #landing.screen > .screen-header {
        display: block;
        position: relative;
        box-sizing: border-box;
        height: 5em;
        padding: 2em;
        overflow: hidden;
      }

        body > #app-shell > #app-screens > #landing.screen > .screen-header > .screen-header-item {
          display: block;
          position: relative;
          float: left;
        }

        body > #app-shell > #app-screens > #landing.screen > .screen-header > .header-logo.screen-header-item {
          width: 2em;
          margin-right: 2.5em;
        }

        body > #app-shell > #app-screens > #landing.screen > .screen-header > .header-title.screen-header-item {
          font-weight: 900;
          color: #fff;
          font-size: 1.44em;
          letter-spacing: -1px;
        }

        body > #app-shell > #app-screens > #landing.screen > .screen-header > .header-avatar.screen-header-item {
          float: right;
          height: 3em;
          margin-left: 2.5em;
          margin-top: -0.8em;
          border-radius: .64em;
          background-color: #5767D2;
          transition: background-color .14s ease-out;
          cursor: pointer;
        }

        body > #app-shell > #app-screens > #landing.screen > .screen-header > .header-avatar.screen-header-item:hover {
          background-color: #25A;
        }

        body > #app-shell > #app-screens > #landing.screen > .screen-header > .header-avatar.screen-header-item:active {
          background-color: #8AF;
        }

      body > #app-shell > #app-screens > #landing.screen > .screen-body {
        display: block;
        position: relative;
        box-sizing: border-box;
        height: 97.5vh;
        background-color: #f7f7f7;
        border-top-right-radius: 2em;
        overflow: auto;
      }

        body > #app-shell > #app-screens > #landing.screen > .screen-body > div {
          float: left;
          display: block;
          position: relative;
          box-sizing: border-box;
          min-height: 97.5vh;
          overflow: hidden;
          overflow-y: auto;
          margin-top: 3em;
        }

        body > #app-shell > #app-screens > #landing.screen > .screen-body > div.context-nav {
          width: 4vw;
          margin-left: 2vw;
          margin-right: 2vw;
          background-color: #fff;
        }

          body > #app-shell > #app-screens > #landing.screen > .screen-body > .context-nav > .context-nav-item {
            background-color: #ccc;
            width: 4vw;
            height: 4vw;
            border-radius: .75vw;
            margin-bottom: 1.5vw;
            line-height: 4vw;
            font-weight: 900;
            text-align: center;
            color: #fff;
            cursor: pointer;
            transition: background-color .3s ease-out;
          }

          body > #app-shell > #app-screens > #landing.screen > .screen-body > .context-nav > .context-nav-item:hover {
            background-color: #333;
            transition: background-color .15s ease-in;
          }

          body > #app-shell > #app-screens > #landing.screen > .screen-body > .context-nav > .context-nav-item:active {
            background-color: #000;
          }

        body > #app-shell > #app-screens > #landing.screen > .screen-body > div.primary-column {
          width: 64vw;
          margin-right: 4vw;
        }

          body > #app-shell > #app-screens > #landing.screen > .screen-body > div.primary-column > .primary-column-header {
            box-sizing: border-box;
            overflow: hidden;
          }

            body > #app-shell > #app-screens > #landing.screen > .screen-body > div.primary-column > .primary-column-header > .title {
              float: left;
              font-weight: 900;
              font-size: 1.5em;
              line-height: 1.88em;
              letter-spacing: -2px;
            }

            body > #app-shell > #app-screens > #landing.screen > .screen-body > div.primary-column > .primary-column-header > .search {
              outline: none;
              float: right;
              border: 0;
              margin: .5em;
              padding: .75em 1em;
              border-radius: .25em;
              box-shadow: 0 0 5px 2px #ddd;
            }

              body > #app-shell > #app-screens > #landing.screen > .screen-body > div.primary-column > .primary-column-header > .search:focus {
                border-color: #014B9C !important;
              }

        body > #app-shell > #app-screens > #landing.screen > .screen-body > div.primary-column > .primary-column-body {
          background-color: orange;
          min-height: 100vw;
        }

        body > #app-shell > #app-screens > #landing.screen > .screen-body > div.secondary-column {
          width: 20vw;
        }

          body > #app-shell > #app-screens > #landing.screen > .screen-body > div.secondary-column > .secondary-column-item {
            max-width: 20vw;
            background: #fff;
            box-sizing: border-box;
            font-weight: 900;
            font-size: .88em;
            letter-spacing: -1px;
            border: 1px solid #ddd;
            border-radius: .25vw;
            margin-bottom: 1vw;
            padding: 1em;
            cursor: pointer;
            color: #777;
            transition: color .1s ease-in, background-color .1s ease-in;
          }

          body > #app-shell > #app-screens > #landing.screen > .screen-body > div.secondary-column > .secondary-column-item:hover {
            color: #000;
          }

          body > #app-shell > #app-screens > #landing.screen > .screen-body > div.secondary-column > .secondary-column-item:active {
            background-color: #ddd;
          }

